.bg-black{
  background-color: #0c0c0c;
  border-color: #0c0c0c;
}
.bg-pink{
  background-color: #d7418c;
  border-color: #d7418c;
}
.bg-brown{
  background-color: #565251;
  border-color: #565251;
}
.bg-yellow{
  background-color: #d8cfb8;
  border-color: #d8cfb8;
}